SESSION_TEMPLETE_HEADER_START
<html>
<head>

<!-- <meta http-equiv=\"Content-Type\" content=\"text/html; charset=utf-8\" /> -->
<title>Browse directory TEMPLETE_FIELD1_PATH_TEMPLETE_FIELD2 - TEMPLETE_FIELD1_SERVERNAME_TEMPLETE_FIELD2</title>
</head>

<body>

<h3>
Directory TEMPLETE_FIELD1_PATH_TEMPLETE_FIELD2
</h3>

<hr />
<ul>
<form ENCTYPE="multipart/form-data" method="post">
<input name="file\" type="file"/>
<input type="submit" value="upload"/>
</form>
<hr>

<ul>
SESSION_TEMPLETE_HEADER_END


SESSION_TEMPLETE_FOOTER_START
</ul>
<br />
<hr />
<address>
TEMPLETE_FIELD1_SERVERNAME_TEMPLETE_FIELD2
</address>
</body>
</html>
SESSION_TEMPLETE_FOOTER_END


SESSION_TEMPLETE_DIR_START
<li><a href="TEMPLETE_FIELD1_URL_TEMPLETE_FIELD2">TEMPLETE_FIELD1_NAME_TEMPLETE_FIELD2</a></li>
SESSION_TEMPLETE_DIR_END


SESSION_TEMPLETE_FILE_START
<li><a href="TEMPLETE_FIELD1_URL_TEMPLETE_FIELD2">TEMPLETE_FIELD1_NAME_TEMPLETE_FIELD2</a></li>
SESSION_TEMPLETE_FILE_END